In [1]:
import numpy as np
import pandas as pd
import datetime
import os

In [2]:
data_path = './data/'

In [3]:
aq_1718 = pd.read_csv(data_path + 'airQuality_201701-201801.csv')
aq_0203 = pd.read_csv(data_path + 'airQuality_201802-201803.csv')
aq_1804 = pd.read_csv(data_path + 'aiqQuality_201804.csv')
aq_1718.shape, aq_0203.shape, aq_1804.shape

((311010, 8), (49420, 8), (23310, 9))

In [4]:
aq = aq_1718.append(aq_0203)
del aq_1718,aq_0203
aq.rename(columns={'stationId':'station_id','utc_time':'time'},inplace=True)
aq.shape

(360430, 8)

In [5]:
aq.head()

        station_id                 time  PM2.5   PM10    NO2   CO   O3  SO2
0  aotizhongxin_aq  2017-01-01 14:00:00  453.0  467.0  156.0  7.2  3.0  9.0
1  aotizhongxin_aq  2017-01-01 15:00:00  417.0  443.0  143.0  6.8  2.0  8.0
2  aotizhongxin_aq  2017-01-01 16:00:00  395.0  467.0  141.0  6.9  3.0  8.0
3  aotizhongxin_aq  2017-01-01 17:00:00  420.0  484.0  139.0  7.4  3.0  9.0
4  aotizhongxin_aq  2017-01-01 18:00:00  453.0  520.0  157.0  7.6  4.0  9.0

In [6]:
del aq_1804['id']
aq_1804.rename(columns={'PM25_Concentration':'PM2.5','PM10_Concentration':'PM10','NO2_Concentration':'NO2',
                           'CO_Concentration':'CO','O3_Concentration':'O3','SO2_Concentration':'SO2'},inplace=True)

In [7]:
aq = aq.append(aq_1804)
del aq_1804
aq.shape

(383740, 8)

In [8]:
aq['station_id'] = aq['station_id'].str[:-3]

In [9]:
# remove duplicated rows by considering station_name and time
aq = aq.append(aq).drop_duplicates(['station_id','time'])
aq.shape

(377265, 8)

In [10]:
# check if there is missing value for station_id
aq = aq[~aq['station_id'].isnull()]
aq.shape

(377265, 8)

In [18]:
aq.to_hdf(data_path+'aq.hdf','w', complib='blosc', complevel=5)