In [1]:
import os
import datetime
import numpy as np
import pandas as pd

In [2]:
# grid meo
data_path = './data/'

In [ ]:
def update_meo_grid():
    meo_grid_1718 = pd.read_csv(data_path + 'gridWeather_201701-201803.csv')
    meo_grid_1804 = pd.read_csv(data_path + 'gridWeather_201804.csv')
    meo_grid_1805 = pd.read_csv(data_path + 'gridWeather_20180501-20180502.csv')
    meo_grid = meo_grid_1718.append(meo_grid_1804).append(meo_grid_1805)
    meo_grid.rename(columns={'stationName':'station_name','utc_time':'time'},inplace=True)
#     remove duplicated rows by considering station_name and time
    meo_grid = meo_grid.append(meo_grid).drop_duplicates(['station_name','time'])
#     check if there is missing value for station_names
    meo_grid = meo_grid[~meo_grid['station_name'].isnull()]
    meo_grid.to_hdf(data_path+'meo_grid.hdf','w', complib='blosc', complevel=5)
    print('meo grid data update done...')

update_meo_grid()

In [21]:
meo_grid_1718 = pd.read_csv(data_path + 'gridWeather_201701-201803.csv')
meo_grid_1804 = pd.read_csv(data_path + 'gridWeather_201804.csv')
meo_grid_1805 = pd.read_csv(data_path + 'gridWeather_20180501-20180502.csv')
meo_grid_1718.rename(columns={'stationName':'station_id','utc_time':'time', 'wind_speed/kph':'wind_speed'},inplace=True)
meo_grid_1718.drop(['latitude', 'longitude'], axis=1, inplace=True)
meo_grid_1804.drop(['id', 'weather'], axis=1, inplace=True)
meo_grid_1805.drop(['id', 'weather'], axis=1, inplace=True)
meo_grid_1718.shape, meo_grid_1804.shape, meo_grid_1805.shape

((7034706, 7), (463476, 7), (31245, 7))

In [22]:
meo_grid_1718.head()

,station_id,time,temperature,pressure,humidity,wind_direction,wind_speed
0,beijing_grid_000,2017-01-01 00:00:00,-5.47,984.73,76.60,53.71,3.53
1,beijing_grid_001,2017-01-01 00:00:00,-5.53,979.33,75.40,43.59,3.11
2,beijing_grid_002,2017-01-01 00:00:00,-5.70,963.14,71.80,0.97,2.75
3,beijing_grid_003,2017-01-01 00:00:00,-5.88,946.94,68.20,327.65,3.84
4,beijing_grid_004,2017-01-01 00:00:00,-5.34,928.80,58.81,317.85,6.14

In [23]:
meo_grid_1804.head()

,station_id,time,temperature,pressure,humidity,wind_direction,wind_speed
0,beijing_grid_000,2018-04-01 00:00:00,15.0,974.1536,21.0,346.93,4.18
1,beijing_grid_001,2018-04-01 00:00:00,15.0,960.6752,20.0,329.47,4.50
2,beijing_grid_002,2018-04-01 00:00:00,9.0,947.1968,19.0,315.38,5.16
3,beijing_grid_003,2018-04-01 00:00:00,9.0,931.8720,19.0,307.81,5.74
4,beijing_grid_004,2018-04-01 00:00:00,9.0,914.7008,20.0,304.23,6.08

In [24]:
meo_grid_1805.head()

,station_id,time,temperature,pressure,humidity,wind_direction,wind_speed
0,beijing_grid_000,2018-05-01 00:00:00,20.0,975.6105,52.0,76.64,4.38
1,beijing_grid_001,2018-05-01 00:00:00,20.0,962.0873,49.0,58.35,3.82
2,beijing_grid_002,2018-05-01 00:00:00,13.0,948.5641,46.0,36.82,3.75
3,beijing_grid_003,2018-05-01 00:00:00,13.0,933.2105,43.0,9.52,4.65
4,beijing_grid_004,2018-05-01 00:00:00,13.0,916.0265,42.0,350.17,6.88

In [25]:
meo_grid = meo_grid_1718.append(meo_grid_1804).append(meo_grid_1805)
del meo_grid_1718, meo_grid_1804, meo_grid_1805
meo_grid.shape

(7529427, 7)

In [26]:
meo_grid.head()

,station_id,time,temperature,pressure,humidity,wind_direction,wind_speed
0,beijing_grid_000,2017-01-01 00:00:00,-5.47,984.73,76.60,53.71,3.53
1,beijing_grid_001,2017-01-01 00:00:00,-5.53,979.33,75.40,43.59,3.11
2,beijing_grid_002,2017-01-01 00:00:00,-5.70,963.14,71.80,0.97,2.75
3,beijing_grid_003,2017-01-01 00:00:00,-5.88,946.94,68.20,327.65,3.84
4,beijing_grid_004,2017-01-01 00:00:00,-5.34,928.80,58.81,317.85,6.14

In [27]:
# remove duplicated rows by considering station_id and time
meo_grid = meo_grid.append(meo_grid).drop_duplicates(['station_id','time'])
meo_grid.shape

(7529400, 7)

In [28]:
# check if there is missing value for station_id
meo_grid = meo_grid[~meo_grid['station_id'].isnull()]
meo_grid.shape

(7529400, 7)

In [29]:
meo_grid.to_hdf(data_path+'meo_grid.hdf','w', complib='blosc', complevel=5)