In [16]:
import os
import datetime
import numpy as np
import pandas as pd
from dateutil.parser import parse
from datetime import timedelta, datetime

In [2]:
# grid meo
data_path = './data/'

In [3]:
grid_meo_dataset = pd.read_hdf(data_path+'meo_grid.hdf')

In [4]:
grid_meo_dataset.shape

(7529400, 7)

In [5]:
grid_meo_dataset.head()

,station_id,time,temperature,pressure,humidity,wind_direction,wind_speed
0,beijing_grid_000,2017-01-01 00:00:00,-5.47,984.73,76.60,53.71,3.53
1,beijing_grid_001,2017-01-01 00:00:00,-5.53,979.33,75.40,43.59,3.11
2,beijing_grid_002,2017-01-01 00:00:00,-5.70,963.14,71.80,0.97,2.75
3,beijing_grid_003,2017-01-01 00:00:00,-5.88,946.94,68.20,327.65,3.84
4,beijing_grid_004,2017-01-01 00:00:00,-5.34,928.80,58.81,317.85,6.14

In [6]:
grid_meo_dataset.isnull().any()

station_id        False
time              False
temperature       False
pressure          False
humidity          False
wind_direction    False
wind_speed        False
dtype: bool

there is no missing value in all columns of grid_meo_dataset

check if there is missing hour

In [7]:
all_time = set(grid_meo_dataset['time'])
len(all_time)

11567

In [8]:
min_time = grid_meo_dataset['time'].min()
max_time = grid_meo_dataset['time'].max()
min_time, max_time

('2017-01-01 00:00:00', '2018-05-02 23:00:00')

In [9]:
hours_should = len(pd.date_range(min_time, max_time, freq='H'))
hours_should

11688

In [10]:
hours_should == len(all_time)

False

there are some missing hours

In [11]:
(grid_meo_dataset['wind_direction'] == 999017).any()

False

there is no wind_direction with value 999017

In [14]:
print('{} hours are missing'.format(hours_should - len(all_time)))

121 hours are missing

In [17]:
def date_add_hours(start_date, hours):
    end_date = parse(start_date) + timedelta(hours=hours)
    end_date = end_date.strftime('%Y-%m-%d %H:%M:%S')
    return end_date

In [18]:
time = min_time
missing_hours = []
while time <=  max_time:
    if time not in all_time:
        missing_hours.append(time)
    time = date_add_hours(time,1)

In [19]:
len(missing_hours)

121

In [20]:
missing_hours

['2018-03-27 06:00:00',
 '2018-03-27 07:00:00',
 '2018-03-27 08:00:00',
 '2018-03-27 09:00:00',
 '2018-03-27 10:00:00',
 '2018-03-27 11:00:00',
 '2018-03-27 12:00:00',
 '2018-03-27 13:00:00',
 '2018-03-27 14:00:00',
 '2018-03-27 15:00:00',
 '2018-03-27 16:00:00',
 '2018-03-27 17:00:00',
 '2018-03-27 18:00:00',
 '2018-03-27 19:00:00',
 '2018-03-27 20:00:00',
 '2018-03-27 21:00:00',
 '2018-03-27 22:00:00',
 '2018-03-27 23:00:00',
 '2018-03-28 00:00:00',
 '2018-03-28 01:00:00',
 '2018-03-28 02:00:00',
 '2018-03-28 03:00:00',
 '2018-03-28 04:00:00',
 '2018-03-28 05:00:00',
 '2018-03-28 06:00:00',
 '2018-03-28 07:00:00',
 '2018-03-28 08:00:00',
 '2018-03-28 09:00:00',
 '2018-03-28 10:00:00',
 '2018-03-28 11:00:00',
 '2018-03-28 12:00:00',
 '2018-03-28 13:00:00',
 '2018-03-28 14:00:00',
 '2018-03-28 15:00:00',
 '2018-03-28 16:00:00',
 '2018-03-28 17:00:00',
 '2018-03-28 18:00:00',
 '2018-03-28 19:00:00',
 '2018-03-28 20:00:00',
 '2018-03-28 21:00:00',
 '2018-03-28 22:00:00',
 '2018-03-28 23:00:00',
 '2018-03-29 00:00:00',
 '2018-03-29 01:00:00',
 '2018-03-29 02:00:00',
 '2018-03-29 03:00:00',
 '2018-03-29 04:00:00',
 '2018-03-29 05:00:00',
 '2018-03-29 06:00:00',
 '2018-03-29 07:00:00',
 '2018-03-29 08:00:00',
 '2018-03-29 09:00:00',
 '2018-03-29 10:00:00',
 '2018-03-29 11:00:00',
 '2018-03-29 12:00:00',
 '2018-03-29 13:00:00',
 '2018-03-29 14:00:00',
 '2018-03-29 15:00:00',
 '2018-03-29 16:00:00',
 '2018-03-29 17:00:00',
 '2018-03-29 18:00:00',
 '2018-03-29 19:00:00',
 '2018-03-29 20:00:00',
 '2018-03-29 21:00:00',
 '2018-03-29 22:00:00',
 '2018-03-29 23:00:00',
 '2018-03-30 00:00:00',
 '2018-03-30 01:00:00',
 '2018-03-30 02:00:00',
 '2018-03-30 03:00:00',
 '2018-03-30 04:00:00',
 '2018-03-30 05:00:00',
 '2018-03-30 06:00:00',
 '2018-03-30 07:00:00',
 '2018-03-30 08:00:00',
 '2018-03-30 09:00:00',
 '2018-03-30 10:00:00',
 '2018-03-30 11:00:00',
 '2018-03-30 12:00:00',
 '2018-03-30 13:00:00',
 '2018-03-30 14:00:00',
 '2018-03-30 15:00:00',
 '2018-03-30 16:00:00',
 '2018-03-30 17:00:00',
 '2018-03-30 18:00:00',
 '2018-03-30 19:00:00',
 '2018-03-30 20:00:00',
 '2018-03-30 21:00:00',
 '2018-03-30 22:00:00',
 '2018-03-30 23:00:00',
 '2018-03-31 00:00:00',
 '2018-03-31 01:00:00',
 '2018-03-31 02:00:00',
 '2018-03-31 03:00:00',
 '2018-03-31 04:00:00',
 '2018-03-31 05:00:00',
 '2018-03-31 06:00:00',
 '2018-03-31 07:00:00',
 '2018-03-31 08:00:00',
 '2018-03-31 09:00:00',
 '2018-03-31 10:00:00',
 '2018-03-31 11:00:00',
 '2018-03-31 12:00:00',
 '2018-03-31 13:00:00',
 '2018-03-31 14:00:00',
 '2018-03-31 15:00:00',
 '2018-03-31 16:00:00',
 '2018-03-31 17:00:00',
 '2018-03-31 18:00:00',
 '2018-03-31 19:00:00',
 '2018-03-31 20:00:00',
 '2018-03-31 21:00:00',
 '2018-03-31 22:00:00',
 '2018-03-31 23:00:00',
 '2018-04-01 16:00:00',
 '2018-04-07 03:00:00',
 '2018-04-12 04:00:00',
 '2018-04-12 05:00:00',
 '2018-04-19 06:00:00',
 '2018-04-19 07:00:00',
 '2018-04-30 13:00:00']

missing hours happen after 2018-3-27 and happen in consecutive hours, so it is better to get the real data for the corresponding hours instead of estimating the data. For now, do not fill in missing hour for grid meo data.